<h1><%= markdown @post.title %></h1>

<% if can? :update, @post %>
  <%= link_to "Edit Post", edit_post_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
    </small>  
    <p>
      <div style="float:left;">
        <%= image_tag(@post.post_image.large.url) if @post.post_image? %>
      </div>
      <%= markdown @post.body %>
    </p>
  </div>
  <div class="span8">
    <%= render @post.comments %>
  </div>
  <div class="span4">
    <% if can? :create, Comment %>
      <%= render 'comments/form', :comment => current_user.comments.build %>
    <% end %>
  </div>
</div>